# Core functionality - changes here should be rare!
/src/app.py                   @ivoknopp
/src/backend/database.py      @ivoknopp
/src/backend/routers/auth.py  @ivoknopp

# The frontend will need refactoring soon to be more object-oriented.
/src/static/   @ivoknopp
